<style>
    fieldset {
        margin: 8px;
        border: 3px solid silver;
        padding: 12px;
        border-radius: 14px;
        width: 189px;
    }
    .imagecss{
        margin: 10px;

    }
</style>
<fieldset style="background-color: whitesmoke" >
    <img class="imagecss" src="https://talashlogs.blob.core.windows.net/talashsite/authiamge.png" width="90" height="25"/>
    <img class="imagecss" src="https://talashlogs.blob.core.windows.net/talashsite/aazureimages.png" width="90" height="25"/>
    <img  class="imagecss"src="https://talashlogs.blob.core.windows.net/talashsite/generdizeimages.png" width="90" height="25"/>
    <img  class="imagecss" src="https://talashlogs.blob.core.windows.net/talashsite/cloudanaryimage.png" width="90" height="25"/>
    <img class="imagecss" src="https://talashlogs.blob.core.windows.net/talashsite/dyteimage.png" width="90" height="25"/>
    <img class="imagecss" src="https://talashlogs.blob.core.windows.net/talashsite/youtubeapi.jpg" width="90" height="25"/>


<h4><font font-color="blue"></font>Upload&nbsp;Files  </h4>
<!-- <select>
    <option value="image">Image</option>
    <option value="video">Video</option>
    <option value="pdf">Pdf</option>
    <option value="youtube">Youtube</option>
    <option value="facebook">Facebook</option>
</select>
<input #file type="file"   size="50" width="48"  maxlength="50" multiple (change)="upload(file.files)"  /> -->
<input type="checkbox" (click)="ShowHideFiles($event)"> Show Content panel
<br />
<span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
    {{progress}}%
</span>

<span style="font-weight:bold;color:green;" *ngIf="message">
    {{message}}
</span> </fieldset>
