<ul  class="no-bullets">
    <li *ngFor="let item of imageCompleteDetails">

      <!-- <div class="myDIV" >&#x1F6C8;</div>   -->
        <img  class="responsive"  [src]="item.url" />
         <details>
            <summary></summary>
            
              <div  ><br><img height="30" width="30" src="https://static.vecteezy.com/system/resources/previews/000/420/238/original/like-icon-vector-illustration.jpg">{{item.likes}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="UpdateLikes(item.url)" class="btn btn-primary"> Like</button>
              </div>
         </details>
        
      
      
      
      
      </li>
        
      <li></li>
</ul>
