ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
ul{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
}

.responsive {
    width:90%;height:249;padding-top:16%;position:relative;

  }
  
  .hide {
  display: none;
  align-items: center ;
  align-content: center;
  
}
 .show {
  display: inline;
  align-items: center ;
  align-content: center;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
  transition-duration: 20s;
}
.myDIV:hover + .show {
  display: block;
  color: red;
}

