<!-- Grid row -->
<!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#video-carousel-example" data-slide-to="1"></li>
        <li data-target="#video-carousel-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
   
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--Carousel Wrapper--><!-- Grid row -->
<iframe  [src]="safeSrc" width="760" height="415" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
<p *ngFor="let ids of videoids; last as isLast">test{{ids}}
</p>
<p *ngFor="let ss of safeSrc2; last as isLast">
    
    <iframe  [src]="ss" width="760" height="415" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen> </iframe>
            <span><div style="border:2px">    Download  <a href="https://yt5s.life/en">You tube downloder</a></div>

  
                <div style="border:2px">  Share :</div>
    
        
                <div style="border:2;border-width: 0ch;"> We can add more videos for any requested topic. It will cost 20$ for 300 videos.
          please contact </div></span>
  

    
   
    
