<div class="bigbuttons4">
    <img height="150" width="150" src="https://cdn2.iconfinder.com/data/icons/people-talking-chatting-conversation-communication/468/talking-chat-6-512.png">
Group Discussion App 
<a href="https://groupdiscussion-aebnhpc7fdhrbcc2.australiasoutheast-01.azurewebsites.net/" > Demo </a>

</div>

<div class="bigbuttons6">
    <img height="150" width="150" src="https://cdn.icon-icons.com/icons2/2898/PNG/512/exam_icon_182959.png">
    
    Video interview using recorded questions
    <a href="https://bit.ly/talash" > Demo </a>
    
    </div>
    <div class="bigbuttons8">
        <img height="150" width="150" src="https://th.bing.com/th/id/OIP.adLnHaMEVamwAE3jK4-oPwHaHa?rs=1&pid=ImgDetMain">
        Gr
        Live Produt Demo
        <a href="https://groupdiscussion-aebnhpc7fdhrbcc2.australiasoutheast-01.azurewebsites.net/" > Demo </a>
        
        </div>
