<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<script src="https://kit.fontawesome.com/7d2b65abd1.js" crossorigin="anonymous"></script>
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: Calibri;
        box-shadow: 0 1px 4px 0 #9b9b9b;
        background-color: #fbf0d7;
        font-size: calc(60% + 0.8vmin);

    }

    body {
        font-size: 16px;
    }

    .w3-half img {
        margin-bottom: -6px;
        margin-top: 16px;
        opacity: 0.8;
        cursor: pointer
    }

    .w3-half img:hover {
        /*opacity: 1
        }*/
</style>

<body>

    <!-- Sidebar/menu -->

    <table>
        <tr>
            <td>
                <div  style="width:1200px;padding-right: 100px;">

                    <!-- Header -->
                    <div class="w3-container" id="showcase">


                        <table> <td colspan="2" style="background-color:rgb(14, 120, 60); font-size: x-large;">
                                    <img src="https://talashlogs.blob.core.windows.net/other/logo.png" width="1200px" height="140px"
                                        style="border-radius:00%;border:2px solid purple" />
                                         <b><h3><i>Fast social media search</i></h3></b>
                                          <a *ngIf="auth.isAuthenticated()" [routerLink]='["/profile"]'>
                                        <span class='glyphicon glyphicon-user'></span> <app-profile></app-profile>
                                    </a>
                                    </td>
                            <tr>
                                <td>
                                    
                                    </td>
                                </tr>
                            <tr>
                               
                               

                                <td>
                                    <a *ngIf="auth.isAuthenticated()" [routerLink]='["/profile"]'>
                                        <span class='glyphicon glyphicon-user'></span> <app-profile></app-profile>
                                    </a>
                                </td>


                                <td  style="padding:20px;margin-left:140px">
                                    <a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                                        <button class="btnlogin">Log out </button>

                                    </a>
                                </td>
                                <td style="border-width2px;border:darkblue;width: 300px ;align-items: center;padding:20px;padding-left:140px">
                                    <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
                                        <button class="btnlogin">Login </button>

                                    </a>
                                    <hr>
                                </td>
                            </tr>
                        </table>
                        


                    </div>


                    <table>
                        <tr>
                            <td>
                                <button (click)="ShowHidePanels('share')" class="bigbuttons1">Share Video</button>
                            </td>
                            <td>
                                <button (click)="ShowHidePanels('upload')" class="bigbuttons1">Upload Data</button>
                            </td>
                            <td> <button (click)="ShowHidePanels('faq')" class="bigbuttons1">App store</button>
                            </td>
                            <td>
                                <button (click)="ShowHidePanels('chatrooms')" class="bigbuttons1">Chat rooms</button>

                            </td>
                            <td>
                                <button class="bigbuttons1">Buy / Sell Video</button>

                            </td>
                        </tr>
                    </table>
                    <!-- Photo grid (modal) -->
                    <div *ngIf="showSharePanel"
                        style="align-items:right ;border:1px solid black;padding: 10px;background-color:##00d800">
                        <button type="button" (click)="ShowShreLink()">Share</button>
                        {{shareLink}}

                    </div>
                    <div *ngIf="showUploadDataPanel" class="w3-half">

                        <summary
                            style="align-items:right ;border:1px solid black;padding: 10px;background-color:rgb(223, 238, 223)">
                            Upload content
                            <span class="icon">👇</span>
                        </summary>

                        <div>
                            <app-blobupload></app-blobupload>
                        </div>

                    </div>
                    <div>
                        <div *ngIf="showFAQ">
                            <app-appstore></app-appstore>
                        </div>
                        <div *ngIf="showChatrooms">

                        </div>


                        <br>
                        <div class="w3-row-padding">



                            <div *ngIf="type === 'video' || type === 'advancedsearch'">
                                <my-video [searchword]=searchword [type]=type ></my-video>
                            </div>
                            
                            <div *ngIf="type === 'image'">
                                <app-image-viewer [searchword]=searchword></app-image-viewer>
                            </div>

                            <div  style='overflow:scroll; width:1200px;height:700px;'
                                *ngIf="type != 'video' && type != 'image' && type != 'advancedsearch'   ">
                                <app-table [searchword]=searchword [type]="type"></app-table>
                            </div>
                            <div>
                                <app-preview [url]=url></app-preview>
                            </div>
                        </div>

                        <section class="two">
                        </section>
                    </div>

                    <!-- Modal for full size images on click-->
                    <div id="modal01" class="w3-modal w3-black" style="padding-top:0"
                        onclick="this.style.display='none'">
                        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
                        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                            <img id="img01" class="w3-image">
                            <p id="caption"></p>
                        </div>
                    </div>

                    <!-- Services -->
                    <div class="w3-container" id="services" style="margin-top:75px">
                        <h1 class="w3-xxxlarge w3-text-red"><b>Services.</b></h1>
                        <hr style="width:50px;border:5px solid red" class="w3-round">

                        <table
                            style=" width: 940px;  height:400px;    font-size:24px;  background-image: linear-gradient(to right, lightblue,white);  color:green;  font-weight:6300; ">
                            <tr>
                                <td style="width:200px">
                                    Movies
                                </td>
                                <td>
                                    To find best movies I find from talash instead of going by
                                    imdb or rotton tomottow rating.
                                </td>


                            </tr>


                            <tr>
                                <td>
                                    Chat rooms
                                </td>
                                <td>
                                    no more zoom no more google just talash
                                </td>

                            </tr>


                            <tr>
                                <td>
                                    spam or ads,,
                                </td>
                                <td>
                                    No spammers and no ads while playing videos..
                                </td>

                                .
                            </tr>

                            <tr>
                                <td>
                                    Premium content
                                </td>
                                <td>
                                    Just like flickr or other good sies it is site for enjoying hobby intead of paradise
                                    for spamers or annoying
                                    ads
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Sharing ..
                                </td>
                                <td>
                                    Fecility to share with social media and only to freinds.
                                    features to store vidoes and images and chat sessions.
                                </td>
                            </tr>
                        </table>

                        <p>Classical search is always has limitations. Moving all users to Context based search and
                            focus on premium
                            content is Talaash team brings to users.</p>
                        <p>
                            We provide user demanded cotent with better classification. eg:

                        <ul>
                            <li>
                                User want to check instagram pics which become popular in his region
                            </li>
                            <li>
                                user want to quickly notify interesting videos become popular recently
                            </li>
                            <li>
                                just find few freinds on social media who has simialar hobbies like him.
                            </li>
                        </ul>

                    </div>

                    <!-- Designers -->
                    <!-- The Team -->
                    <div class="w3-row-padding w3-grayscale">
                        <div class="w3-col m4 w3-margin-bottom">

                        </div>
                        <div class="w3-col m4 w3-margin-bottom">

                        </div>
                        <div class="w3-col m4 w3-margin-bottom">

                        </div>
                    </div>

                    <!-- Packages / Pricing Tables -->
                    <div class="w3-container" id="packages" style="margin-top:75px">
                        <h1 class="w3-xxxlarge w3-text-red"><b>Packages.</b></h1>
                        <hr style="width:50px;border:5px solid red" class="w3-round">
                        <p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure</p>
                    </div>

                    <div class="w3-row-padding">
                        <table>
                            <tr>
                                <td>
                                    <div class="w3-half w3-margin-bottom">
                                        <ul class="w3-ul w3-light-grey w3-center">
                                            <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
                                            <li class="w3-padding-16">Favourites</li>
                                            <li class="w3-padding-16">Add and Search content </li>
                                            <li class="w3-padding-16">Chat features</li>

                                            <li class="w3-padding-16">Share favourites</li>
                                            <li class="w3-padding-16">Tag and filter</li>
                                            <li class="w3-padding-16">Video Download</li>
                                            <li class="w3-padding-16">Video Download</li>

                                            <li class="w3-padding-16">
                                                <h2>$ 0</h2>
                                                <span class="w3-opacity"></span>
                                            </li>
                                            <li class="w3-light-grey w3-padding-34">
                                                <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign
                                                    Up</button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="w3-half">
                                        <ul class="w3-ul w3-light-grey w3-center">
                                            <li class="w3-red w3-xlarge w3-padding-32">Pro</li>
                                            <li class="w3-padding-16">Private Content </li>
                                            <li class="w3-padding-16">Custom search</li>
                                            <li class="w3-padding-16">Chat features </li>
                                            <li class="w3-padding-16">Free custom search healp</li>
                                            <li class="w3-padding-16">Video Download</li>
                                            <li class="w3-padding-16">Video Download</li>
                                            <li class="w3-padding-16">Video Download</li>
                                            <li class="w3-padding-16">
                                                <h2>$ 20</h2>
                                                <span class="w3-opacity"></span>
                                            </li>
                                            <li class="w3-light-grey w3-padding-34">
                                                <button class="w3-button w3-red w3-padding-large w3-hover-black">Sign
                                                    Up</button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="w3-half">
                                        <ul class="w3-ul w3-light-grey w3-center">
                                            <li class="w3-red w3-xlarge w3-padding-32">Pro++</li>

                                            <li class="w3-padding-16"> Private Content</li>
                                            <li class="w3-padding-16">Custom search</li>
                                            <li class="w3-padding-16">Chat features </li>
                                            <li class="w3-padding-16">Free custom search healp</li>

                                            <li class="w3-padding-16">Sell Videos online</li>
                                            <li class="w3-padding-16">Reports </li>
                                            <li class="w3-padding-16">More Sales leads/contact</li>
                                            <li class="w3-padding-16">
                                                <h2>$ 100</h2>
                                                <span class="w3-opacity"></span>
                                            </li>
                                            <li class="w3-light-grey w3-padding-34">
                                                <button class="w3-button w3-red w3-padding-large w3-hover-black">Sign
                                                    Up</button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <!-- Contact -->
                    <div class="w3-container" id="contact" style="margin-top:75px">
                        <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
                        <hr style="width:50px;border:5px solid red" class="w3-round">
                        <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We
                            love meeting
                            new people!</p>
                        <form action="/action_page.php" target="_blank">
                            <div class="w3-section">
                                <label>Name</label>
                                <input class="w3-input w3-border" type="text" name="Name" required>
                            </div>
                            <div class="w3-section">
                                <label>Email</label>
                                <input class="w3-input w3-border" type="text" name="Email" required>
                            </div>
                            <div class="w3-section">
                                <label>Message</label>
                                <input class="w3-input w3-border" type="text" name="Message" required>
                            </div>
                            <button type="submit"
                                class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send
                                Message</button>
                        </form>
                    </div>

                    <!-- End page content -->
                </div>
            </td>
            <td style="vertical-align: top;">
                <nav style="background-color: white;padding: 5px"
                >
                    
                    <div>
                         <img width=380px height=150px
                            src="https://giffiles.alphacoders.com/212/21215.gif" /> 
                            <br>
                            <br>
                            <br>
                           
                    </div>
                    
                    <div>
                        <p></p>
                    </div>
                    <div>
                        <app-events (searchword)="childEventClicked($event)"></app-events>

                    </div>

                    <div>
                        <app-fileupload></app-fileupload>
                    </div>
                    <p>
                        Check your favourites
                    </p>
                    <button (click)="openModal1()">My favourites</button>

                    <div class="w3-half">


                    </div>



                    <div class="w3-container">
                        <div>


                        </div>
                        <h4 class="w3-padding-64">
                            <b>


                            </b>
                        </h4>
                        <a>
                            /* <span class='glyphicon glyphicon-log-in'></span><img src="coollogo_com-19047462.png" /> Log */
                            In
                        </a><br />
                        <a [routerLink]='["/profile"]'>
                            <span class='glyphicon glyphicon-user'></span>
                        </a><br />
                        <a>
                            <span class='glyphicon glyphicon-log-out'></span> Log Out
                        </a>

                        <app-modal #modal></app-modal>


                    </div>

                </nav>
            </td>
            `
        </tr>

    </table>


    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding" >
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
        <span>Company Name</span>
        <img height="140px" width="1600px" src="https://talashlogs.blob.core.windows.net/other/logo.png" />
 
    </header>

   

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->



    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            //document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>

</body>

</html>