<section class="video-results">
  <article class="video-card" *ngFor="let ss of safeSrc2; last as isLast">
    <div class="video-frame">
      <iframe
        [src]="ss"
        title="Talash video result"
        allowfullscreen
        webkitallowfullscreen
        mozallowfullscreen
      ></iframe>
    </div>

    <aside class="video-card__info">
      <div class="video-action">
        Download
        <a href="https://www.socialplug.io/free-tools/youtube-video-downloader" target="_blank" rel="noopener">
          YouTube downloader
        </a>
      </div>
      <div class="video-action">Share</div>
      <p>
        We can add more videos for any requested topic. It will cost $20 for 300 videos.
      </p>
      <p  *ngIf="!landing">
        
        Promote video to landing page: <button  class="update-button" (click)="UpdateLandingPage(ss)">Promote</button>
      </p>
      <label class="keyword-field">
        <span>Add keywords</span>
        <input (keyup)="UpdateKeywords($event)" type="text" />
      </label>
      <button type="button" class="update-button" (click)="UpdaeKeyWrods(ss)">Update</button>
    </aside>
  </article>
</section>
