<section class="search-card">
  <div class="search-row">
    <label class="search-label" for="basic-search">Search term</label>
    <input
      id="basic-search"
      class="search-input"
      type="text"
      maxlength="150"
      value="Sydney"
      [(ngModel)]="placeId"
    />
    <button class="btn btn-primary search-button" type="button" (click)="sendNotification(placeId,typeId)">
      Search
    </button>
  </div>

  <div class="type-options" role="radiogroup" aria-label="Content type">
    <label class="type-option">
      <input type="radio" name="type" value="image" [(ngModel)]="typeId" checked />
      <span>image</span>
    </label>
    <label class="type-option">
      <input type="radio" name="type" value="video" [(ngModel)]="typeId" />
      <span>video</span>
    </label>
    <label class="type-option">
      <input type="radio" name="type" value="pdf" [(ngModel)]="typeId" />
      <span>profiles</span>
    </label>
  </div>
</section>
<section class="search-card">
    I want to see more :<br>
    <Button class="custom-button" (click)="sendNotification('fashion', 'image')"> Fashion</Button>
    <Button class="custom-button" (click)="sendNotification('village', 'image')"> Village</Button>
    <Button class="custom-button" (click)="sendNotification('pets', 'image')"> Pets</Button>
        <Button class="custom-button" (click)="sendNotification('luxury', 'image')"> luxury</Button>
        <Button class="custom-button" (click)="sendNotification('art', 'image')"> Arts</Button>
        <Button class="custom-button" (click)="sendNotification('trends', 'image')  "> Trends</Button>
        <Button class="custom-button" (click)="sendNotification('posters', 'image')  "> Posters</Button>
   
     <hr>
     I want to see more Video 
       <Button class="custom-button" > Latest Ads</Button>
        <Button class="custom-button" > Hollywood </Button>
        <Button class="custom-button" > health </Button> <br>
        <input type="text" width="200px"/>
        <Button class="custom-button1" > Add your Choice </Button>
     <br>
      <div *ngIf="userid != 'Ananymous'">
       MyList
      <select  style="width: 200px;" (click)="loadMylist($event, 'video')">
      <option *ngFor="let item of files" [value]="item">
      {{item}}
    </option>  
      </select>
      </div>

   
</section>
<section class="search-card">
  <div class="search-row">
    <label class="search-label" for="advanced-search">Advanced search by keywords, categories</label>
    <input
      id="advanced-search"
      class="search-input"
      type="text"
      maxlength="150"
      value="education,technology"
      [(ngModel)]="advancedkeywords"
    />
    <button class="btn btn-primary search-button" type="button" (click)="SearchByKeywords()">
      Search
    </button>
  </div>
</section>
