
<div class="container">
  <fieldset >
    I want to see more :<br>
    <Button class="custom-button" (click)="sendNotification('fashion', 'image')"> Fashion</Button>
    <Button class="custom-button" (click)="sendNotification('village', 'image')"> Village</Button>
    <Button class="custom-button" (click)="sendNotification('pets', 'image')"> Pets</Button>
        <Button class="custom-button" (click)="sendNotification('luxury', 'image')"> luxury</Button>
        <Button class="custom-button" (click)="sendNotification('art', 'image')"> Arts</Button>
        <Button class="custom-button" (click)="sendNotification('trends', 'image')  "> Trends</Button>
        <Button class="custom-button" (click)="sendNotification('posters', 'image')  "> Posters</Button>
   
     <hr>
     I want to see more Video 
       <Button class="custom-button" > Latest Ads</Button>
        <Button class="custom-button" > Hollywood </Button>
        <Button class="custom-button" > health </Button> <br>
        <input type="text" width="200px"/>
        <Button class="custom-button1" > Add your Choice </Button>
   
  </fieldset>

    <fieldset >
        <input type="text" style="width: 150px;"  size="150" width="48"  maxlength="150" value="Sydney" [(ngModel)]="placeId" />
        <button class='btn btn-primary' (click)="sendNotification(placeId,typeId)">Search </button>
        <table>
            <tr>
                <td> <input type="radio" name="type" value="image" [(ngModel)]="typeId" checked>image</td>
                <td> <input type="radio" name="type" value="video" [(ngModel)]="typeId">video</td>
                <td><input type="radio" name="type" value="pdf" [(ngModel)]="typeId">profiles</td>
            </tr>

        </table>

        
        <!-- <fieldset>
            Advanced    search  By keywords, categories:
            <input type="text" style="width: 150px;"  size="150" width="48"  maxlength="150" value="education,technology" [(ngModel)]="advancedkeywords" />
            <button class='btn btn-primary' (click)="SearchByKeywords()">Search </button>
        </fieldset>  -->



    </fieldset>

    <fieldset>
    <legend>Search videos by categories and keywords</legend>
<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="countries"
    [searchKeyword]="keyword" 
    placeholder="Enter the keyword / tag Name"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    historyIdentifier="countries"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
    width: 300px;
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
   <button class='btn btn-primary' (click)="SearchByKeywords()">Search </button>
     
</div>
</fieldset>
<div style="margin:100px">
  <angular-tag-cloud [config]="options" [data]="tagCloudData"> </angular-tag-cloud>
</div>