
  fieldset {
border: 1px solid #CCA383;
width: 57%;
background: #FFE8EF;
padding: 3px;
margin: 50px;
padding: 30px;
}
fieldset legend {
background: #f8f5f3;
padding: 6px;
font-weight: normal;
}

    .ng-autocomplete {
    width: 200px;
}