<div class="panel panel-default profile-area">
    <div class="panel-body">
        <img width="40" height="40" src="{{profile?.picture}}" class="avatar" alt="avatar">
        
            <!-- <label><i class="glyphicon glyphicon-user"></i> Nickname</label> -->
            <span class="nickname">{{ profile?.nickname }}</span>
        
        <!-- <div>
            <label><i class="glyphicon glyphicon-envelope"></i> Email</label>
            <h3 class="email">{{ profile?.email }}</h3>
        </div> -->
       
    </div>
</div>
