<article class="result-card">
  <ng-container *ngFor="let col of columns; last as isLast">
    <div *ngIf="!isLast" class="result-card__field">
      {{ character[col] }}
    </div>

    <figure *ngIf="isLast" class="result-card__media">
      <a (click)="toggle(character['age'])" class="media-link" target="iframe_a" [href]="character[col]">
        <img class="result-card__image" alt="Search result preview" [src]="character[col]" />
      </a>
      <figcaption class="result-card__actions">
        <a class="view-link" [href]="character[col]" target="_blank" rel="noopener">View</a>
        <label class="bookmark-toggle">
          <input type="checkbox" (click)="toggle(character[col])" />
          <span>Book Mark</span>
        </label>
      </figcaption>
    </figure>
  </ng-container>
</article>
