<div class="main">
  <!-- <label class="wrapper">Step1: Select topic</label> -->
  <ul>
    <details>
      <summary>Step1: Select topic</summary>
      <li class="panel">
        <label>Create Topic</label>
        <div class="ss">
        <input [(ngModel)]="newTopic" type="text">
        <button class="cbtn  btn-primary" (click)="CreateNewTopic()">Create</button>
        </div><br>
        <label>Delete topic</label>
        <div class="ss">
        <input [(ngModel)]="deleteTopic" type="text">
        <button class="dbtn btn-primary" (click)="DeleteTopic()">Delete</button>
        </div>



      </li>
    </details>

    <!-- upload -->

    <!-- <button class="wrapper">Step 2: Upload</button> -->
    <details>
      <summary>Step 2: Upload</summary>
      <li class="panel">
        <label> Select application type and topic before Uploading data: </label> <br>
        <br>
        <label>application type</label>
        <select [ngModel]="application">
          <option>Video Search</option>
          <option> Image Search</option>
          <Option>vide exams</Option>
        </select>
        <label>topic</label>
        <select [(ngModel)]="selectedTopic" (ngModelChange)="topicSelected()">
          <option>---Select interivew topic----</option>
          <option *ngFor="let item of topics" [value]="item">
            {{item}}
          </option>
        </select>

        <label> Select File using upload button</label>
        <input #file type="file" size="50" width="48" maxlength="50" multiple (change)="upload(file.files)" />

        <input style="display: none;" type="file" id="fileUpload" #selectedFile [(ngModel)]="fileUpload"
          (click)="selectedFile.value = ''" value="" (change)="handleFileInput($event)" />

        <!-- <input style="display: none;" type="file" id="fileUpload" #selectedFile (click)="selectedFile.value = ''" value="" /> -->
        <table >
          <tr>
            <th class="column1">Uploaded Files</th>
            <th class="column2" >Download</th>
            <th class="column2" >Delete</th>

          </tr>
          <tr *ngFor="let publicfile of publicFiles">
            <td class="column1">{{publicfile}}</td>
            <td class="column2" style="cursor: pointer;"><i class="fa fa-download"></i></td>
            <td class="column3" (click)="deleteFile(publicfile)">
              <img alt="Group Audit" src="../assets/icon-download.png" />
            </td>

          </tr>
        </table>
        <table class="ff">
          <tr>
            <th class="column1">Video Recording </th>
            <th class="column2" >User</th>

            <th class="column2" >Topic</th>


            <th class="column2" >Download</th>
            <th class="column2" >Delete</th>
          </tr>
          <tr *ngFor="let publicfile of answerFiles">
            <td class="column1">{{publicfile.file}}</td>
            <td class="column1">{{publicfile.userid}}</td>
            <td class="column1">{{publicfile.topic}}</td>
            <td class="column2" style="text-align:center;cursor: pointer;"><i class="fa fa-download"></i></td>
            <!-- <td class="column3" style="text-align:center;" (click)="deleteFile(publicfile)">   -->
            <td>
              <img alt="Group Audit" src="../assets/icon-download.png" />
            </td>

          </tr>
        </table>

      </li>
    </details>
    <!-- Intive -->
    <!-- <button class="wrapper">Step3: Send invitation to user</button> -->
    <details>
      <summary>Step3: Send invitation to user</summary>

      <li class="panel">
        <label>Select topic and Invite user</label>
        <form class="contact-form" (submit)="sendEmail($event)">
          <select name="topic" [(ngModel)]="selectedTopic" (click)="topicSelected()">
            <option>---Select interivew topic----</option>
            <option *ngFor="let item of topics" [value]="item">
              {{item}}
            </option>
          </select>
          <label>Email to Send Invitation</label>
          <input type="email" name="email_id" />
          <br>
          <br>
          <div class="submit">
            <input class="btn btn-primary" type="submit" value="Send" />
          </div>  
        </form>
      </li>
    </details>
  </ul>
  <div class="container">
    <a target=”_blank” href="https://talashlogs.blob.core.windows.net/dyte-videoxxmas/How to upload video files .pdf">
      <img height="30" wdith="30"
        src="https://img.freepik.com/premium-vector/pdf-file-icon-vector-illustration_875240-750.jpg" /> Help File </a>
  </div>
</div>
